# Main
.idea
venv/*

# Warm Up
warm_up/data/input/*.csv
warm_up/data/preprocessed/*.csv
warm_up/.ipynb_checkpoints/




# M5-Challenge
m5_challenge/data/input/*.csv
m5_challenge/data/preprocessed/*.csv
m5_challenge/.ipynb_checkpoints/
m5_challenge/tmp/*
