# Main
.idea
venv/*

# Warm Up
warm-up/data/input/*.csv
warm-up/data/preprocessed/*.csv
warm-up/.ipynb_checkpoints/




# M5-Challenge
m5_challenge/data/input/*.csv
m5_challenge/data/preprocessed/*.csv
m5_challenge/.ipynb_checkpoints/
